<div>
    <span class='status' [ngClass]="{ 'checked-in': detail.checkedin }"></span>
    <div *ngIf='editing'>
        <input type="text" 
            [value]='detail.fullname'
            (input)='OnNameChange(Name.value)'
            #Name
            >
    </div>
    <div *ngIf="!editing">
        {{ detail.fullname }}
    </div>
    <p>
        {{ detail | json }}
    </p>
    <div class='date'>
        Check in Date: {{ detail.checkedInDate ? (detail.checkedInDate | date: 'MMMM d, y') : 'Not
        Checked In' }}
    </div>
    <button (click)='toggleEdit()'>
        {{ editing ? "Done" : 'Edit'}}
    </button>

    <button (click)='OnRemove()'>
        Remove
    </button>

</div>